body {
    margin: 0;
    padding: 0;
    background: grey;
    font-family: 'Oswald', sans-serif;
}

img {
    max-width: 50vw;
    max-height: 25vh;
    margin-left: 45vw;
}

a {
    color: black;
}

nav {
    background: #FFCF82;
    height: 5vh;
}

input, button {
    width: 100%;
    padding: 0;
    font-size: 36px;
}

.mainWrapper {
    width: 40vw;
    margin: auto;
}

.hidden {
    display: none;
}